section.assets
    h2 All Items
    p Showing {{ (assets | filter: query).length }} of {{ assetsData.total_inventory_count }}
    form
        .form-group
            input(ng-model="query", placeholder="Filter", type="text").input-lg.form-control

    .table-responsive
        table.table.table-striped
            thead
                tr
                    th
                    th Name
                    th Type
                    th Rarity
                    th
            tbody
                tr(ng-repeat="(key, item) in assets | filter: query as results track by item.asset.assetid")
                    td
                        a(href="http://steamcommunity.com/id/romakin/inventory/#753_6_{{ item.asset.assetid }}")
                            img(ng-src="http://steamcommunity-a.akamaihd.net/economy/image/{{ item.description.icon_url }}", alt="{{ item.description.descriptions[0].value }}", ng-if="item.description.icon_url").asset-icon
                        p(ng-if="!item.description.icon_url") No icon
                    td
                        a(href="http://steamcommunity.com/market/listings/753/{{ item.description.market_hash_name }}") {{ item.description.market_name || item.description.name }}
                    td {{ item.description.type }}
                    td {{ item.description.tags[0].localized_tag_name }}
                    td
                        a(href="#", data-toggle="modal", data-target="#modal-details-{{key}}").btn.btn-info All details
                        div(id="modal-details-{{key}}", role="dialog").modal.fade
                            div.modal-dialog.modal-lg
                                div.modal-content
                                    pre.input {{ item | json }}
                tr(ng-if="!(assets | filter: query).length")
                    td(colspan="5")
                        p No items to display
            tfoot
                tr(ng-if="assetsData.more_items")
                    td(colspan="5")
                        a(href="#", ng-click="loadMore()").btn.btn-info Load more
                        a(href="#", ng-click="loadMore(true)").btn.btn-info Load all

    button(data-toggle="modal", data-target="#modal-debug").btn.btn-info Debug
    div(role="dialog")#modal-debug.modal.fade
        div.modal-dialog.modal-lg
            div.modal-content
                pre.input {{ assetsData | json }}
